{
  "presets": ["@babel/preset-env"],
  "plugins": []
  // "plugins": [
  //   [
  //     "module-resolver",
  //     {
  //       "root": ["./src"]
  //       // "alias": {
  //       //   "@": "./src"
  //       // }
  //     }
  //   ]
  // ]
}